@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3f2fd;
}

.container{
    position: relative;
    background-image: url(images/credit-card-design-commerzbank-intraligi-09.jpg);
    background-size: cover;
    padding: 20px;
    border-radius: 28px;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
header, .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 60px;
    
}
h5{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

header .chip{
    width: 70px;
}

h6{
    font-size: 12px;
    font-weight: 700;
}

h5.number{
    font-size: 18px;
    margin-top:4px;
    letter-spacing: 1px;
}

h5.name{
    margin-top: 20px;
}

.container .card-details{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    margin-top: 40px;

}